.MyRecipes {
    .header-wrapper {
      position: relative;

      .action-btns {
        position: absolute;
        top: 80%;
        right: 8.5%;
        bottom: 10%;

        button {
          margin-left: 10px;
        }
      }
    }

  ul {
    padding-top: 20px;
    display: flex;
    flex-flow: wrap;
    list-style-type: none;
    align-items: flex-start;
    justify-content: center;

    i {
      cursor: pointer;
    }
  }

  .icons {
    padding: 2% 0 0 45%;
  }

  .icon-edit {
    margin-left: 15%;
    font-size: 1.65em;
    color: rgb(36, 36, 36);
  }
  
  .icon-del {
    margin-left: 15%;
    font-size: 1.65em;
    color: darkred;
  }

  .no-recipes {

    h3 {
      margin-top: 25px;
      max-width: 80vw;
      text-align: center;
    }

    img {
      margin: 25px;
      max-width: 70vw;
    }

    .action-btn {
      display: flex;
      justify-content: center;
      margin: 20px auto;
    }
  }
}
