.Recipes {
  .header-wrapper {
    position: relative;
    
    .action-btns {
      position: absolute;
      top: 80%;
      right: 8.5%;
      bottom: 10%;
  
      button {
        margin-left: 10px;
      }
    }
  }

  ul {
    padding-top: 20px;
    display: flex;
    flex-flow: wrap;
    list-style-type: none;
    align-items: flex-start;
  }
} 