.Recipes {

  h1 {
    padding: 20px 10px 0 10px;
    text-align: center;
  }

  ul {
    padding-top: 20px;
    display: flex;
    flex-flow: wrap;
    list-style-type: none;
    align-items: flex-start;
  }
} 