.Recipe {
  width: 100%;

  h1 {
    margin: 5vh 0 5vh 0;
    text-align: center;
  }
  
  img {
    display: block;
    margin: 0 auto;
    padding: 5px 0;
    width: 100vw;
    max-width: 1200px;
  }

  .time {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    
    p {
      margin: 0 15px;
      font-weight: bolder;
    }
  }

  .section {
    margin: 0 20%;
    padding: 0 0 30px;
    border-bottom: 5px black solid;
    margin-bottom: 10px;
  }

  .story {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;

    p {
      margin: auto;
      min-width: 80;
    }
  }
  
  .ingredients {
    padding-left: 3px;
   
    ul {
      list-style-type: square;
      font-weight: bolder;

      li {
        margin-left: 16px;
      }
    }
  }

  .steps {
    padding-left: 3px;
    ul {
      list-style: none;
    }
  }

  @media screen and (max-width: 900px) {
    .section {
      margin: 0 2%;
    }

    .story {

      p{
      min-width: 80%;
      }
    }

    .ingredients {
      ul {
        li {
          margin-left: -10px;
        }
      }
    }

    .steps {
      ul{
        li{
          margin-left: -25px;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    h1 {
      margin-bottom: 20px;
      font-size: 3rem;
    }
  }
}