.Login {
  height: 400px;
  width: 400px;
  border: 2px solid gray;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  .content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-bottom: 20px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    justify-items: center;

    h3 {
      text-align: center;
    }

    .item {
      margin-bottom: 10px;
    }

    input {
      width: 100%;
    }

    .sbmt {
      width: 120px;
    }
  }
}