.Signup {
  height: 400px;
  width: 400px;
  border: 2px solid gray;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  .content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-bottom: 20px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    justify-items: center;

    .signup-error {
      height: 24px;
      width: 100%;
      display: inline-block;
      align-self: auto;
      background-color: pink;
      text-align: center;
      border-radius: 3px;
      color: maroon;
    }

    .no-signup-error {
      height: 24px;
      width: 100%;
      display: inline-block;
      align-self: auto;
      text-align: center;
      border-radius: 6px;
    }

    h3 {
      text-align: center;
      margin-bottom: 24px;
    }

    .item {
      margin: 12px 0;
      height: 35px;

      input {
        height: 110%;
        width: 100%;
      }
    }

    .error-line {
      margin: -3px 0 0 4px;
      height: 12px;
      font-size: 12px;
      color: red;
    }
  }
}