.NavBar {
  width: 100%;
  min-height: 56px;

  .content {
    margin: 0 auto;
    padding-right: 13px;
    width: 100%;
    max-width: 1200px;
  }

  .menu-item {
    padding-left: 13px;
  }

  img {
    margin-left: 10px;
    height: 48px;
  }
}
