.PageHeader {
  height: 40vh;
  min-height: 200px;
  max-height: 500px;
  background-color: lavenderblush;

  h1 {
    padding: 15vh 0 0 5vw;
  }

  h5 {
    padding-left: 5vw;
    font-size: 1.5em;
  }

  @media screen and (max-width: 767px) {
    h1 {
      padding-top: 10vh;
      font-size: 3rem;
    }
  }
}