.InsertRecipe {
  height: 360px;
  width: 576px;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 2px solid gray;
  border-radius: 1em;

  .content {
    margin: 0;
    position: absolute;
    top:  50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    justify-items: center;

    h3 {
      text-align: center;
      position: absolute;
      width: 225px;
      top: 2.75%;
      right: 19%;
      padding: 0 5px;
      background-color: whitesmoke;
    }

    .field {
      width: 380px;
      height: 200px;
      margin: 120px 0 10px 0;
    }

    input {
      width: 100%;
    }

    textarea {
      width: 100%;
      height:150px;
      max-height: 150px;
      top: 80%;
    }

    .timers {
      display: flex;
      justify-content: flex-start;
    }

    .timer {
      margin-right: 75px;
      width: 100px;
    }

    .action-btns {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 50px;

      button {
      margin-right: 10px;
      width: 88px;
      }
    }
  }
}