@import url('https://fonts.googleapis.com/css?family=Assistant:200|Catamaran:900|Roboto|Teko:300&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h5 {
  font-family: 'Roboto', 'Catamaran', 'Noto Sans Myanmar UI', 'arial', 'sans-serif';
}

h1 {
  font-size: 4rem;
  font-weight: 1000;
}

h4, h3, h6 {
  font-family: 'Catamaran', 'Helvetica','Roboto', 'Arial', sans-serif;
}

p, div, span, a {
  font-family: 'Roboto', 'Arial', sans-serif;
}
